@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
}

body {
    font-family: "Roboto", serif;
}
* {
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
