@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: local('#{$file_name}'),
        url("../fonts/#{$file_name}.woff") format("woff"), 
        url("../fonts/#{$file_name}.woff2") format("woff2"),
        url("../fonts/#{$file_name}.ttf") format('truetype');
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "fonts.scss";
@import "libs.scss";
header{
    font-size: 15px;
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    background: red;
    background: fixed;
}

ul{
    font-size: 20px;
    @media (max-width: 767px){
        font-size: 10px;
    }
}
div{
    font-size: 30px;
    @media (max-width: 767px){
        font-size: 20px;
    }
    
    background: url(../img/thirdSlide.png) no-repeat center;
    
}